@font-face {
  font-family: crimsontext-regular;
  src: url(../fonts/crimson_text/CrimsonText-Regular.ttf);
}
@font-face {
  font-family: crimsontext-bold;
  src: url(../fonts/crimson_text/CrimsonText-Bold.ttf);
}
@font-face {
  font-family: crimsontext-bolditalic;
  src: url(../fonts/crimson_text/CrimsonText-BoldItalic.ttf);
}
@font-face {
  font-family: crimsontext-semibold;
  src: url(../fonts/crimson_text/CrimsonText-SemiBold.ttf);
}
@font-face {
  font-family: crimsontext-semibolditalic;
  src: url(../fonts/crimson_text/CrimsonText-SemiBoldItalic.ttf);
}
@font-face {
  font-family: crimsontext-italic;
  src: url(../fonts/crimson_text/CrimsonText-Italic.ttf);
}
@font-face {
  font-family: cinzel-regular;
  src: url(../fonts/cinzel/Cinzel-Regular.otf);
}
@font-face {
  font-family: cinzel-black;
  src: url(../fonts/cinzel/Cinzel-Black.otf);
}
@font-face {
  font-family: cinzel-bold;
  src: url(../fonts/cinzel/Cinzel-Bold.otf);
}
@font-face {
  font-family: pfdin-regular;
  src: url(../fonts/pf_din/PFDinTextPro-Regular.ttf);
}
@font-face {
  font-family: pfdin-italic;
  src: url(../fonts/pf_din/PFDinTextPro-Italic.ttf);
}
@font-face {
  font-family: pfdin-bold;
  src: url(../fonts/pf_din/PFDinTextPro-Bold.ttf);
}
@font-face {
  font-family: pfdin-bolditalic;
  src: url(https://sumberselera.com:443/data/fonts/pf_din/PFDinTextPro-BoldItalic.ttf);
}
@font-face {
  font-family: pfdin-medium;
  src: url(../fonts/pf_din/PFDinTextPro-Medium.ttf);
}
@font-face {
  font-family: pfdin-mediumitalic;
  src: url(../fonts/pf_din/PFDinTextPro-MedItalic.ttf);
}
@font-face {
  font-family: pfdin-light;
  src: url(../fonts/pf_din/PFDinTextPro-Light.ttf);
}
@font-face {
  font-family: pfdin-lightitalic;
  src: url(../fonts/pf_din/PFDinTextPro-LightItalic.ttf);
}
@font-face {
  font-family: pfdin-thin;
  src: url(../fonts/pf_din/PFDinTextPro-Thin.ttf);
}
@font-face {
  font-family: pfdin-thinitalic;
  src: url(../fonts/pf_din/PFDinTextPro-ThinItalic.ttf);
}
@font-face {
  font-family: pfdin-xblack;
  src: url(../fonts/pf_din/PFDinTextPro-XBlack.ttf);
}
@font-face {
  font-family: pfdin-xblackitalic;
  src: url(../fonts/pf_din/PFDinTextPro-XBlackItalic.ttf);
}
@font-face {
  font-family: pfdin-xthin;
  src: url(../fonts/pf_din/PFDinTextPro-XThin.ttf);
}
@font-face {
  font-family: pfdin-xthinitalic;
  src: url(../fonts/pf_din/PFDinTextPro-XThinItalic.ttf);
}